.container {
  text-align: center;
  margin: 60px;
}
.current-weather-element {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}
.city {
  font-size: 36px;
}
.current-comment {
  display: flex;
  justify-content: center;
}
#image img {
  width: 200px;
  height: auto;
}
.description {
  text-transform: uppercase;
  margin: 2px 3px 0 0;
}
.display-temperature {
  display: flex;
  justify-content: center;
}

.forecast-info {
  margin-top: 20px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  margin: 20px 60px;
}
.forecast-details {
  display: flex;
  flex-direction: column;
}
.forecast-icon {
  width: 60px;
  height: 60px;
}
